
 <div class="team">
  <h1><%= @team.name %></h1><br>
  <h2>Team Motto: <%= @team.motto %> </h2>
</div><br>

 <% @heroes.each do |hero| %>
   <div class="hero">

    <p>Hero Name: <%= hero.name %></p><br>
    <p>Hero Power: <%= hero.type %></p><br>
    <p>Hero Biography: <%= hero.booty %></p>
  </div><br>
<% end %>
